@using HealthifyApp.Web.ViewModels.Goal
@model IEnumerable<GoalListViewModel>

<h2>Your Goals</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>Goal Type</th>
            <th>Activity Level</th>
            <th>Goal Weight</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var goal in Model)
        {
            <tr>
                <td>@goal.StartDate.ToString()</td>
                <td>@goal.GoalType</td>
                <td>@goal.Activity</td>
                <td>@goal.GoalWeight</td>
                <td>
                    <a href="@Url.Action("Details", new { id = goal.Id })" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@goal.Id" class="btn btn-danger">
                        <i class="bi bi-pencil-square"></i> Delete Goal
                    </a>
                    <a asp-controller="TargetNutrition" asp-action="Create" asp-route-goalId="@goal.Id" class="btn btn-success">Create Target Nutrition</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")" class="btn btn-primary">Create New Goal</a>